<button hx-get="/count" hx-target="#count" hx-swap="outerHTML" class="
    flex space-x-1 align-middle justify-center 
  border-2 border-black font-bold
  rounded-sm p-1">
  <div>
    Increment
  </div>

  <iconify-icon icon="bx:plus-circle" style="font-size: 24px"></iconify-icon>
</button>
